@import url("https://use.typekit.net/xxxxxxx.css");

* {
    text-align: center;
    cursor: url('../images/cursor.png'), auto;
}

.hand:active {
    cursor: url('../images/cursor.png'), auto;	
}

.gallery {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.logo {
    width: 80px;
    float: left;
    padding-top: 64px;
    padding-bottom: 50px;
}

.indexbody {
    background-color: #EFE8DC;
}

.menu {
    float: right;
    padding-top: 70px;
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.menuabout {
    float: right;
    padding-top: 70px;
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.menu mark {
    position: relative;
    color: inherit;
    background-color: transparent;
}

.menu mark:before {
    content: '';
    position: absolute;
    width: 90%;
    display: inherit;
    height: 2px;
    background-color: black;
    bottom: 0px;
}

.menuabout mark {
    position: relative;
    color: inherit;
    background-color: transparent;
}

.menuabout mark:before {
    content: '';
    position: absolute;
    width: 90%;
    display: inherit;
    height: 2px;
    background-color: white;
    bottom: 0px;
}

.exception {
    padding-top: 10px;
}

.statement mark {
    position: relative;
    color: inherit;
    background-color: transparent;
}

.statement mark:before {
    content: '';
    position: absolute;
    width: 90%;
    display: inherit;
    height: 2px;
    background-color: white;
    bottom: 5px;
}

.casestudytext {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.case-study {
    text-align: left;
    font-size: 13px;
}

.sidebar {
    text-align: left;
    font-size: 13px;
}

.previousproject {
    padding-top: 30px;
}

.nextproject {
    float: right;
    padding-top: 30px;
}

.brandstatement {
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    font-weight: 1000;
    font-size: 12px;
}

#intro {
    background-color: #f95f30;
}

.statement {
    text-align: center;
    font-family: linotype-vectora, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: floralwhite;
    padding-bottom: 90px;
}

.nobr {
    white-space: nowrap;
}

#about-details {
    background-color: #EFE8DC;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 24px;
}

#portrait {
    width: 100%;
}

.h1 {
    text-align: left;
    font-family: linotype-vectora, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 36px;
}

.h2 {
    font-family: "neulis-sans", sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    letter-spacing: 1.1px;
}

.h3 {
    font-family: "neulis-sans", sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    padding-top: 8px;
    letter-spacing: 1.1px;
}

.p {
    font-family: "neulis-sans", sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.p2 {
    font-family: "neulis-sans", sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.projectintro {
    padding-bottom: 15px;
}

.writeup {
    padding-top: 20px;
    padding-bottom: 50px;
}

.hands {
    padding-top: 10px;
}

#secretpadding {
    height: 80px;
}

#secretpadding2 {
    height: 180px;
}

#footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #000000;
}

#footertitles {
    color: #9B9B9B;
}

#footertext {
    color: #EFE8DC;
    text-align: left;
    line-height: 28px;
    float: left;
}

#sociallinks {
    text-align: right;
    line-height: 20px;
}



/*ABOUT CURSOR DETAILS*/

.portuese {
    cursor: url('../images/stickername.png'), auto;
}

.portuese mark {
    cursor: url('../images/stickername.png'), auto;
}

.eye {
    cursor: url('../images/stickereye.png'), auto;
}

.eye mark {
    cursor: url('../images/stickereye.png'), auto;
}

.color {
    cursor: url('../images/stickercolor.png'), auto;
}

.color mark {
    cursor: url('../images/stickercolor.png'), auto;
}



/*LINKS*/

a {
    color: inherit;
}

/* unvisited link */
a.menuaboutlinks:link {
  text-decoration: none;
}

/* visited link */
a.menuaboutlinks:visited {
  color: inherit;
}

/* mouse over link */
a.menuaboutlinks:hover {
    text-decoration: none;
    color: #ffb1ab;
}

/* selected link */
a.menuaboutlinks:active {
    color: #42b2c3;
    text-decoration: none;
}

/* unvisited link */
a.menuhomelinks:link {
  text-decoration: none;
  color: inherit;
}

/* visited link */
a.menuhomelinks:visited {
  color: inherit;
}

/* mouse over link */
a.menuhomelinks:hover {
    text-decoration: none;
    color: #f95f30;
}

/* selected link */
a.menuhomelinks:active {
    color: #ffb1ab;
    text-decoration: none;
}

/* unvisited link */
a.footerlink:link {
  text-decoration: none;
  color: #efe8dc;
}

/* visited link */
a.footerlink:visited {
  color: inherit;
}

/* mouse over link */
a.footerlink:hover {
    color: #ffb1ab;
}

/* selected link */
a.footerlink:active {
    color: #ffb1ab;
    text-decoration: none;
}

/* visited link */
a.arrows:visited {
  color: inherit;
}

/* mouse over link */
a.arrows:hover {
    color: #f95f30;
}

/* selected link */
a.arrows:active {
    color: #f95f30;
    text-decoration: none;
}



/* INTERESTS ANIMATION */


section {
    position: relative;
    width: 100%;
    background-color: #42b2c3;
    overflow: hidden;
}

.scroll {
    display: flex;
    width: 100%;
}

section .scroll {
    width: 100%;
    display: flex;
    animation: animate 30s -30s linear infinite;    
}

section .scroll div {
    white-space: nowrap;
    font-family: linotype-vectora, sans-serif;
    font-weight: 900;
    font-size: 10px;
    padding-top: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    will-change: transform;
}

&:nth-child(2) {
    animation: animate2 30s -30s linear infinite;
}


@keyframes animate2 {
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

@keyframes animate {
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-200%);
    }
}



/*Responsive Text */

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  p {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  p {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  p {
    font-size: 28px;
  }
}



/*Hover Effect CSS:*/

.hovereffect {
/*    filter: blur(0px);*/
    opacity: 100%;
    transition: filter 0.5s;
}

.hovereffect:hover {
/*    filter: blur(3px);*/
    opacity: 80%;
    transition: filter 0.5s;
}



/*MEDIA QUERIES*/

    @media (max-width: 770px) {
        .previousproject {
        display: none;
    }
    
    .nextproject {
        display: none;
    }
    
    #footernav {
        display: none;
    }
    
    #logogrid {
        display: none;
    }
}

@media (max-width: 900px) {
    h2 {
        font-size: 10px;
    }
    
    .heading {
        top:40%; 
        text-align: left;
        font-size: 14px;
    } 
    
    .statement {
        text-align: center;
        font-size: 23px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #about-details {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #background {
        padding-top: 20px;
    }
    
    .statement mark {
        position: relative;
        color: inherit;
        background-color: transparent;
    }

    .statement mark:before {
        content: '';
        position: absolute;
        width: 90%;
        display: inherit;
        height: 0px;
        background-color: white;
        bottom: 5px;
    }
    
    #secretpadding {
        height: 40px;
    }
    
    #secretpadding2 {
        height: 0px;
    }


@media (min-width: 901px) and (max-width: 1199px) {
    h2 {
        font-size: 22px;
    }
    
    .heading {
        top:40%; 
        font-size: 18px;
        text-align: left;
    }  
    
    #background {
        padding-top: 60px;
    }
    
    .project {
        padding-bottom: 60px;
    }
    
    .thumbnails {
        padding-bottom: 60px;
    }

}

@media (min-width: 1200px) {
    h2 {
        font-size: 13px;
    }
    
    .heading {
        top:90%; 
        font-size: 24px;
        text-align: center;
    }    
    
    #background {
        padding-top: 140px;
    }
    
    .project {
        padding-bottom: 80px;
    }
    
    .thumbnails {
        padding-bottom: 80px;
    }
    
}

/* IMAGE HOVER ON ZOOM */
    
/* [1] The container */
.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}